#snowflakeContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.card {
  background: url(../snow/snow_overlay.png),
    url(../snow/bg_light_background.png) top center repeat-x;
  background-position: top center;
  background-color: #131313, #131313;
  background-repeat: repeat-x, repeat;
}
.author-widget,
.card-widget {
  padding-top: 20px;
}
.card-body {
  margin-top: 15px;
}
.card.author-widget {
  padding-top: 1.25rem;
}
.btn {
  border: 0 !important;
  padding-top: 15px;
  background-image: url(../snow/snow_overlay_small.png);
  background-position: top center;
  background-repeat: repeat-x;
}
.btn-dl {
  background-size: 20% auto;
}
.snowflake0,
.snowflake1,
.snowflake2,
.snowflake3 {
  position: fixed;
  image-rendering: pixelated;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.snowflake0 {
  background: url(../snow/snow0.png) no-repeat center;
  background-size: contain;
}
.snowflake1 {
  background: url(../snow/snow1.png) no-repeat center;
  background-size: contain;
}
.snowflake2 {
  background: url(../snow/snow2.png) no-repeat center;
  background-size: contain;
}
.snowflake3 {
  background: url(../snow/snow3.png) no-repeat center;
  background-size: contain;
}

#portrait {
  background-image: url(../me-winter.webp);
}
